*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* body */
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ede6d6;
}

/* slide container */
.slide-container{
    position: relative;
    width: 850px;
    height: 325px;
    border: 2px solid #ede6d6;
    box-shadow: 0 0 8px 2px rgba(0,0,0,0.2);
}

/* slides */
.slide-container .slides{
    width: 100%;
    height: calc(100% - 35px);
    position: relative;
    overflow: hidden;
}

/* images */
.slide-container .slides img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

/* to slide effect */
.slide-container .slides img:not(.active) {
    top: 0;
    left: -100%;
}

/* buttons */
span.next, span.prev{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 12px;
    color: #eee;
    font-size: 1.3rem;
    font-weight: bold;
    transition: 0.5s ease;
    border-radius: 3px;
    user-select: none;
    cursor: pointer;
    z-index: 1;
}

span.next{
    right: 15px;
}
span.prev{
    left: 15px;
}

span.next:hover, span.prev:hover{
    color: #222;
    background-color: #ede6d6;
    opacity: 0.8;
}

    /* dots container  */
.dotsContainer{
    position: absolute;
    bottom: 5px;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
}

/* dots */
.dotsContainer .dot{
    width: 13px;
    height: 13px;
    margin: 0px 2px;
    border: 3px solid #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dotsContainer .active{
    background-color: #555;
}


/* animation style for next button */
@keyframes next1{
    from{left: 0%} to{left: -100%;}
}
@keyframes next2{
    from{left: 100%} to{left: 0%;}
}

/* animiation style for prev button */
@keyframes prev1{
    from{left: 0%} to{left: 100%;}
}
@keyframes prev2{
    from{left: -100%} to{left: 0%;}
}
 